/* BSC-MIXINS:init (https://github.com/alexongarato/bsc-mixins.git) */


/*#############
Usage example: @include transition(background-color 0.1s, opacity 0.3s);
#############*/
@mixin transition($transition...) 
{
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

/*#############
Usage example: @include placeholder(#ffffff, italic);
#############*/
@mixin placeholder($color:#ffffff, $fontStyle: normal)
{
	&::-webkit-input-placeholder 
	{
		color: $color;
		font-style: $fontStyle;
		text-transform: uppercase;
		text-indent: 5px;
	}

	&:-moz-placeholder 
	{ /* Firefox 18- */
		color: $color;
		font-style: $fontStyle;
		text-transform: uppercase;
		text-indent: 5px;
	}

	&::-moz-placeholder 
	{  /* Firefox 19+ */
		color: $color;
		font-style: $fontStyle;
		text-transform: uppercase;
		text-indent: 5px;
	}

	&:-ms-input-placeholder 
	{  
		color: $color;
		font-style: $fontStyle;
		text-transform: uppercase;
		text-indent: 5px;
	}
}

/*#############
Usage example: @include reset();
#############*/
@mixin reset()
{
	*
	{
		margin: 0;
		padding: 0;
		text-indent: 0;
		text-align: left;
		border-spacing: 0;
		border: medium none;
		font-weight: normal;
		text-decoration: none;
		list-style: none outside none;
		background: none repeat scroll 0 0 transparent;
	}
}

/*#############
Usage example: @include mobile-reset();
#############*/
@mixin mobile-reset()
{
	*
	{
		outline : none;
		user-select:none;
		-o-user-select:none;
		-ms-user-select:none;
		-moz-user-select:none;
		-khtml-user-select:none;
		-webkit-user-select:none;
		-moz-user-drag: none;
		-webkit-user-drag: none;
		box-sizing : border-box;
		-webkit-touch-callout: none;
		font-smooth: never;
		font-smoothing : antialiased;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	input,textarea 
	{
		user-select:text;
		-o-user-select:text;
		-ms-user-select:text;
		-moz-user-select:text;
		-khtml-user-select:text;
		-webkit-user-select:text;
	}
}

/*#############
Usage example: @include font-face("Open Sans", "OpenSans-Regular", $version:5);
#############*/
@mixin font-face($fontName, $fileName, $version:1)
{
	@font-face 
	{
		font-family: "{$fontName}";
		src: url("#{$fileName}.eot?v=#{$version}"); /* IE9 Compat Modes */
		src: url("#{$fileName}.eot?v=#{$version}#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("#{$fileName}.woff2?v=#{$version}") format("woff2"), /* Modern Browsers */
		url("#{$fileName}.woff?v=#{$version}") format("woff"), /* Modern Browsers */
		url("#{$fileName}.ttf?v=#{$version}") format("truetype");
		font-style: normal;
		font-weight: normal;
		text-rendering: auto;
	}
}

/*#############
Usage example: @include border-radius(20%);
#############*/
@mixin border-radius($radius)
{
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/*#############
Usage example: @include background-opacity(#cccccc, $opacity: 0.3);
#############*/
@mixin background-opacity($color, $opacity: 0.3) 
{
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}

/*#############
Usage example: @include clip-path(polygon(nonzero, 1.05% 52%, 2.05% 3%, 31.85% 3%, 52.4% 8%, 79.45% 6%, 99.3% 2%, 99.3% 95%, 73.65% 101%, 48.65% 98%, 22.25% 97%, 3.75% 100%));
#############*/
@mixin clip-path($poligons)
{
	-webkit-clip-path: $poligons;
	-moz-clip-path: $poligons;
	-ms-clip-path: $poligons;
	clip-path: $poligons;
}


/*#############
Usage example:
<!--HTML STRUCTURE:init-->
	<label class="radio">
		<input type="radio" name="input-name" value="1" />
		<img src="[image-url]">
	</label>
<!--HTML STRUCTURE:end-->

label.radio
{
	@include radio-button-image-replacement(2px, #ff0000);
}
#############*/
@mixin radio-button-image-replacement($borderWidth, $color)
{
	display: inline-block !important;

	> input
	{
		display:none !important;
	}

	> input > img
	{
		position: relative;
		display: block;
		cursor:pointer;
		border:$borderWidth solid transparent;
	}

	> input:checked > img
	{
		border:$borderWidth solid $color;
	}
}

/*#############
Usage example: @include transform(matrix(1.00,0.00,0.00,1.00,50,0))
#############*/
@mixin transform($props)
{
	transform:$props;
	-o-transform:$props;
	-ms-transform:$props;
	-webkit-transform:$props;
}

/* BSC-MIXINS:end */